<div class="panel panel-default fields">
  <div class="panel-heading">
    <%= Spree.t(:'i18n.fields') %>
  </div>
  <div class="list-group" id="attr_list">
    <% @resource.class.translated_attribute_names.each_with_index do |attr, i| %>
      <a class="list-group-item <%= 'active' if i.zero? %>" data-attr="<%= attr %>" href="#">
        <%= @resource.class.human_attribute_name(attr) %>
      </a>
    <% end %>
  </div>
</div>
