<% content_for :page_title do %>
  <%= Spree.t(:editing_resource, resource: Spree::Store.model_name.human) %>
<% end %>

<%= render 'settings' %>

<div class="row translations">
  <div class="col-md-4">
    <%= render 'fields' %>
  </div>
</div>
